{% extends "base.html" %}

{% block content %}

  <h1>Build A Blog</h1>

      {% if blog_posts|length == 0 %}
      <p>No posts yet.</p>
      {% else %}

          {% for post in blog_posts %}
            <h2><a href="/display?id={{post.id}}">{{post.title}}</a></h2>
            <p>{{post.body}}</p>

            {% if user_name %}
              <p> Written by: <a href="/blog?user_id={{user_id}}">{{user_name}} </p>

            {% else %}
                {% for user_row in all_users %}
                  {% if user_row.id == post.owner_id %}
                    <p> Written by: <a href="/blog?user_id={{user_row.id}}">{{user_row.username}} </p>

                  {% endif %}
                {% endfor %}
            {% endif %}
          {% endfor %}
      {% endif %}

      <hr />

      <ul>
          {% for blog in submitted_posts %}
          <li><h2>{{post.title}}</h2></li>
          <li>{{post.body}}
          {% endfor %}
      </ul>

</body>
</html>
{% endblock %}
